*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Manrope', 'Poppins';
}
.wrapper{
    background-color: #FCFAFF;
    font-family: 'Manrope';
}
.container{
    padding: 10px;
    
}
.aside{
    display: none;
}
.header{
    /* background-color: blueviolet; */
    display: flex;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid rgb(197, 197, 197);
}
.header i{
    color: #6e6e6e;
    font-size: 25px;
    font-weight: bolder;
}
.one{
    display: flex;
    gap: 15px;
}
.two{
    display: flex;
    gap: 15px;
}
.two img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.dashboard{
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 15px;
}
.dashboard h1{
    font-weight: 600;
}
.available-position{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #FCFAFF;
    border: 1px solid rgb(197, 197, 197);
    height: 200px;
    border-radius: 10px;
    padding: 20px;
    background-color: rgb(241, 222, 197);
    border: none;
}
.available-position h1{
    font-weight: 700;
    font-size: 3.0rem;
}
.available-position h2{
    font-weight: 700;
}
.available-position h3{
    color: red;
    font-weight: 500;
    
}
.job-open{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #FCFAFF;
    border: 1px solid rgb(197, 197, 197);
    height: 200px;
    border-radius: 10px;
    padding: 20px;
    background-color: rgb(215, 226, 246);
    border: none;

}
.job-open h1{
    font-weight: 700;
    font-size: 3.0rem;
}
.job-open h2{
    font-weight: 700;

}
.job-open h3{
    color: cornflowerblue;
    font-weight: 500;
}
.new-employees{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #FCFAFF;
    border: 1px solid rgb(197, 197, 197);
    height: 200px;
    border-radius: 10px;
    padding: 20px;
    border: none;
    background-color: rgb(249, 214, 232);

}
.new-employees h1{
    font-weight: 700;
    font-size: 3.0rem;
}
.new-employees h2{
    font-weight: 700;

}
.new-employees h3{
    color: darkorchid;
    font-weight: 500;
}
.total-employees{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #FCFAFF;
    border: 1px solid rgb(197, 197, 197);
    height: 290px;
    border-radius: 10px;
    padding: 20px;

}
.text{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.graph-div{
    display: flex;
    flex-direction: column;
    gap: 80px;
    /* justify-content: space-between; */
}
.graph-div p{
    background-color: rgb(241, 222, 197);
    padding: 10px;
    font-size: 12px;
    font-weight: 700;
}
.graph{
    /* background-color: aqua; */
    width: 50px;
    height: 50px;
}
.total-employees h1{
    font-weight: 700;
    font-size: 3.0rem;
}
.total-employees h2{
    font-weight: 700;
}
.total-employees h3{
    /* color: darkorchid; */
    font-weight: 500;
    color: #6e6e6e;
}
.talent-request{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #FCFAFF;
    border: 1px solid rgb(197, 197, 197);
    height: 290px;
    border-radius: 10px;
    padding: 20px;
}
.talent-request h1{
    font-weight: 700;
    font-size: 3.0rem;
}
.talent-request h2{
    font-weight: 700;

}
.talent-request h3{
    font-weight: 500;
    color: #6e6e6e;
}
.announce{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
}
.announcement{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #FCFAFF;
    border: 1px solid rgb(197, 197, 197);
    border-radius: 10px;
    padding: 20px;
    /* background-color: yellow; */
    gap: 20px;
    position: relative;
    padding-bottom: 30px;
}
.title{
    display: flex;
    justify-content: space-between;
}
.title h1{
    font-size: 15px;
    font-weight: 700;
}
.title select{
    padding: 5px;
    background-color: #FCFAFF;
    border: 1px solid rgb(197, 197, 197);

}
.outing{
    display: flex;
    flex-direction: column;
    height: 100px;
    border: 1px solid rgb(197, 197, 197);
    padding: 10px;
    gap: 20px;
    border-radius: 10px;
    background-color: #f6f5f5;

}
.meeting{
    display: flex;
    flex-direction: column;
    height: 100px;
    border: 1px solid rgb(197, 197, 197);
    padding: 10px;
    gap: 20px;
    border-radius: 10px;
    background-color: #f6f5f5;

}
.it-department{
    display: flex;
    flex-direction: column;
    height: 120px;
    border: 1px solid rgb(197, 197, 197);
    padding: 10px;
    gap: 20px;
    border-radius: 10px;
    background-color: #f6f5f5;

}
.meeting i,
.it-department i{
    color: #6e6e6e;

}
.outing-heading h2{
    font-size: 15px;
    font-weight: 700;
    /* color: #6e6e6e; */
    font-weight: 500;

}
.outing-para{
    display: flex;
    justify-content: space-between;
}
.outing-para i{
    font-size: 23px;
}
.outing-para p{
    color: #6e6e6e;
}
.announcement button{
    position: absolute;
    width: 100%;
    margin: auto auto 0 auto;
    inset: 0;
    height: fit-content;
    border: none;
    border: 1px solid rgb(197, 197, 197);
    padding: 0.4rem;
    /* font-size: 20px; */
    color: red;
    background-color: #FCFAFF;
    font-weight: 600;
    border-radius: 0px 0px 10px 10px;
    border-radius: none;

}
.recent{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
}
.recently-activity{
    display: flex;
    flex-direction: column;
    background-color: hsl(240, 100%, 5%);
    height: 360px;
    border-radius: 10px;
    color: #FCFAFF;
    /* padding: 20px; */
    /* padding: 0px 20px 20px 20px; */
}
.recent-about{
    padding: 20px;

}
.recently-activity h1{
}
.recently-activity p{
    color: #6e6e6e;
    color: #b9b5b5;
    margin-bottom: 20px;

}
#new-job{
    font-size: 20px;
    margin-bottom: 20px;

}
.recently-activity h3{
    color: #b9b5b5;
    font-size: 13px;
    margin-bottom: 20px;

}
.recent-title{
    padding: 20px;
    background-color: hsl(240, 63%, 12%);
    margin-bottom: 20px;
    border-radius: 10px 10px 0px 0px;

}
.recent-title h1{
    font-size: 20px;
}
.recently-activity h5{
    /* color: #6e6e6e; */
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 20px;

}
.recently-activity button{
    width: 180px;
    height: 55px;
    padding: 15px;
    font-size: 18px;
    background-color: rgb(245, 100, 16);
    border: none;
    border-radius: 10px;
    color: #FCFAFF;

}
.upcoming-announcement{
    display: flex;
    flex-direction: column;
    height: 360px;
    justify-content: space-between;
    background-color: #FCFAFF;
    border: 1px solid rgb(197, 197, 197);
    border-radius: 10px;
    padding: 20px;
    position: relative;
}
.upcoming-announcement span{
    color: #b9b5b5;
    color: #6e6e6e;
    font-weight: 500;
    font-size: 15px;
}
.upcoming-announcement button{
    position: absolute;
    width: 100%;
    margin: auto auto 0 auto;
    inset: 0;
    height: fit-content;
    border: none;
    border: 1px solid rgb(197, 197, 197);
    padding: 0.4rem;
    color: red;
    background-color: #FCFAFF;
    font-weight: 600;
    border-radius: 0px 0px 10px 10px;
    border-radius: none;
}


/* media queries */
@media (min-width: 1024px) {
    .header{
        background-color: aqua;
    }
    .aside{
        display: block;
        background-color: brown;
    }
    .wrapper{
        display: flex;
        flex-direction: row;
    }
    .container{
        display: block;
    }
    /* header{ 
        /* background-color: darkorange; */
     /* }  */
    /* #home{
        background-color: #FCFAFF;
        width: 60px;
    } */
    /* .one{
        display: flex;
        flex-direction: row;
    } */
    /* .about{
        display: flex;
        flex-direction: column;
    }
    .image{
        height: 100px;
    }
    .container{
        display: flex;
        flex-direction: column;
    } */
}
/* media queries extra large screen */
@media (min-width: 1280px) {
}
/* media queries extra extra large screen */
@media (min-width: 1536px) {
    
}